#user-list {
  #table {
    // Customer styles
    .customer-edit {
      color: var(--txt-color);
      a {
        display: flex;
        align-items: center;
        svg {
          margin-right: 8px;
        }
      }
    }

    td {
      padding: 4px 16px;
    }

    .customer-list-img {
      display: flex;
      position: relative;
      align-items: center;
      overflow: hidden;

      & > img {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        object-fit: contain;
        margin-right: 10px;
      }
    }

    .customer-email {
      display: flex;
      position: relative;
      align-items: center;
      overflow: hidden;

      p {
        margin-right: 10px;
      }

      svg {
        fill: var(--success-color-green);
      }
    }
  }
}
