#userList {
    .action-bar {
        padding: 16px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .search-bar {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            flex: 6;
            .search {
                position: relative;
                height: var(--button-height);
                background-color: var(--main-bg);
                display: flex;
                align-items: center;
                box-shadow: var(--box-shadow);
                border-radius: var(--border-radius);
                overflow: hidden;
                width: 100%;
                justify-content: space-between;
                padding-left: 16px;
                margin-right: 16px;

                & > input {
                    padding-right: 16px;
                    width: 100%;
                    border: none;
                    &:focus {
                        border: none;
                    }
                }
                & > button {
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    &:hover {
                        filter: brightness(0.9);
                    }

                    &.clear-btn {
                        background-color: white;
                        width: 50px;
                        border-left: 1px solid #eee;
                        &:hover {
                            filter: brightness(0.98);
                        }
                    }
                    &.search-btn {
                        background-color: var(--main-color);
                        color: white;
                        width: 70px;
                    }
                }
            }
        }

        .new-customer {
            flex: 4;
            display: flex;
            justify-content: flex-end;

            & > button {
                box-shadow: var(--box-shadow);
                border-radius: var(--border-radius);
                height: var(--button-height);
            }
        }
    }
}
