#upload-producs-images {
    padding: 0;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: relative;
    margin: 0 0 auto 0;

    .delete-btn {
        width: 40px;
        height: 40px;
        background-color: transparent;
        position: absolute;
        top: 0px;
        right: 0px;
        z-index: 1000;
        color: var(--main-color-red);
        border-radius: 50%;

        &:hover {
            box-shadow: inset 0 0 20px #fb0b1222;
            
        }
    }
    
    
    .image-preview-container {
        border-radius: var(--border-radius);
        width: 240px;
        height: 240px;
        background-color: var(--border-radius);
        margin: 0 auto;
        overflow: hidden;
        .image-preview {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
        
    }

    & .actions {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .info-container {
        min-height: 16px;
        height: 16px;
        .upload-message {
            
            font-weight: 400;
            font-size: 12px;
            text-align: start;
            line-height: 1;
            text-align: center;
        }
        .error {
            color: var(--main-color-red);
        }
    }
}
