.sidebar {
    min-width: var(--sidebar-width);
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: var(--main-bg);
    box-shadow: var(--box-shadow);
    overflow-y: auto;

    .sidebar__logo {
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .sidebar__logo > img {
        height: 100px;
    }

    .sidebar__items-container {
        overflow-y: scroll;
        height: calc(100% - 180px);
        &::-webkit-scrollbar {
            width: 8px; /* width of the entire scrollbar */
        }

        &::-webkit-scrollbar-track {
            background: transparent; /* color of the tracking area */
        }

        &::-webkit-scrollbar-thumb {
            background-color: #ccc; /* color of the scroll thumb */
            border-radius: 20px; /* roundness of the scroll thumb */
            
        }

        .sidebarWrapper {
            padding: 20px;
            color: #555;
          }
          
          .sidebarMenu {
            margin-bottom: 10px;
          }
          
          .sidebarTitle {
            font-size: 13px;
            color: rgb(187, 186, 186);
          }
          
          .sidebarList {
            list-style: none;
            padding: 5px;
          }
          
          .sidebarListItem {
            padding: 5px;
            cursor: pointer;
            display: flex;
            align-items: center;
            border-radius: 10px;
          }
          
          
          .sidebarListItem:hover {
            background-color: rgb(240, 240, 255);
          }
          .sidebarListItem.active {
            background-color: var(--main-color);
            color: var(--txt-white);
          }
          
          .sidebarIcon{
              margin-right: 5px;
              font-size: 20px !important;
          }
    }

    .close-button {
        position: absolute;
        top: 60%;
        right: 10px;
        background: var(--main-color);
    }
}
