#productList {
  #table {
    // Product styles
    .product-edit {
      color: var(--txt-color);
      a {
        display: flex;
        align-items: center;
        svg {
          margin-right: 8px;
        }
      }
    }

    td {
      padding: 4px 16px;
    }

    .product-list-img {
      display: flex;
      position: relative;
      align-items: center;
      overflow: hidden;

      & > img {
        width: 48px;
        height: 48px;
        border-radius: 8px;
        object-fit: contain;
        margin-right: 10px;
      }
    }
  }
}
